<div>
  <form ng-disabled="busy" ng-submit="search(text)"  >
	  <input type="text" ng-model="text" name="text" />
	  <input type="submit" id="submit" value="검색" />
  </form>	

  <input type="radio" ng-model="value" ng-checked="true" value="korean" ng-change='setWhere(value)'>한국어
  <input type="radio" ng-model="value" value="origin" ng-change='setWhere(value)'>원어
  <input type="radio" ng-model="value" value="category" ng-change='setWhere(value)'>분류

  <div ng-show="busy">Loading...</div>

  <div ng-show="!busy" class="words" >

    <div ng-if="words.length > 0" class="mdl-card__supporting-text">   
      {{words.length}} 건의 검색 결과가 있습니다.
    </div>
		
		<div class="word" ng-if="words.length > 0" ng-repeat="word in words">
		
	    <section class=" result section--center mdl-grid mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
          <div class="mdl-card__supporting-text">
            <h4>{{word.korean}} {{word.origin}}</h4>
          </div>
          <div class="mdl-card__supporting-text"> 설명 : {{word.definition}}</div>
		      <div class="mdl-card__supporting-text">예문 : {{word.example}}</div>
		      <div class="mdl-card__supporting-text">분류 : {{word.category}}</div>
        </div>
      </section>

		</div>

		<div class="word" ng-if="words.length === 0">
			<div class="noresult">
		    <div>검색 결과가 없습니다.</div>
		  </div>		  	
	  
		</div>

	</div>

</div>