<div>
  <form ng-submit="search(text)">
	  <input type="text" ng-model="text" name="text" />
	  <input type="submit" id="submit" value="search" />
  </form>	

  <div class="words" >
		
		<div class="word" ng-repeat="word in words">
			<div class="info">
		    <div class="title">{{word.korean}}({{word.origin}})</div>
		    <div class="title">{{word.definition}}</div>
		    <div class="title">{{word.example}}</div>
		    <div class="title">{{word.category}}</div>
		  </div>		  	
	  
		</div>

	</div>

</div>